.container {
  display: flex;
  padding-bottom: 1rem;
  @media screen and (min-width: 700px) {
    height: 100vh;
    padding-bottom: 0;
  }

  #form__container {
    margin-top: 50px;
    justify-self: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    align-items: start;
    grid-row-gap: 2rem;
    margin: 0 auto;

    @media screen and (min-width: 700px) {
      margin: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, 1fr);
      padding: 0 4rem;
      grid-column-gap: 1rem;
      max-width: 720px !important;
      height: 80% !important;
      grid-template-areas:
              "cm cm"
              "fn ln"
              "em em"
              "msg msg"
              "ckb ckb"
              "btn btn";

      .cm {
        grid-area: cm;
      }
      .fn {
        grid-area: fn;
      }
      .ln {
        grid-area: ln;
      }
      .em {
        grid-area: em;
      }
      .msg {
        grid-area: msg;
      }
      .ckb {
        grid-area: ckb;
      }
      .btn {
        grid-area: btn;
      }

    }

    > div:first-child {
      h1 {
        margin-bottom: 1rem;
      }

      margin-bottom: 2rem;
    }

    padding: 1rem 1rem;
  }

  label {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: .5rem;

    & > input[type='text'], & > input[type='email'] {
      padding: 10px 14px;
    }

    input, textarea {
      border-radius: 5px;
      border: 1px solid #D0D5DD;
      padding: 12px 14px 12px 14px;
      font-size: 16px;

    }

    &#agree {
      flex-direction: row;
      align-items: start;
      gap: 10px;
    }
  }

  #btn__submit {

    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    background: #1570EF;
    color: #ffffff;
    font-size: 16px;


  }
}

.err{
  border: 2px solid red !important;
}